:root {
    --lightbg: rgb(190, 248, 229);
    --formbg: rgb(240, 248, 255);
    --btncol: rgb(19, 145, 255);
    --lg:rgb(130, 126, 126);
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: var(--lg);
}

body{
    background-color: var(--lightbg);
    opacity: 0.8;
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
}
    
#Info{
    background-color: white;
    font-weight: 600;
    color: black;
    padding: 1.725rem 0;
    display: flex ;
    column-gap: 2rem;
    justify-content: center;
    align-items: center;
}

.info-btn{
    background-color: rgba(50, 50, 245, 0.76); 
    color : white;
    cursor: default;
}

.left-btn{
    position: absolute;
    left : 10px;
    top : 10px;
}

.past-info > ol{
    background-color: white;
    margin: 2rem 30%;
    padding: 1rem 3rem;
    font-weight: 600;
}



.chatIcon img{
    width: 50px;
    position: fixed;
    top: 90%;
    left: 95%;
    cursor: pointer;
}
.chat{
    height: 55%;
    width: 20%;
    background-color: azure;
    position: fixed;
    top: 44%;
    left: 79%;
    display: flex;
    flex-direction: column;
}
.topBar{
    display: flex;
    background-color: rgb(137, 250, 250);
    height: 30px;
    align-items: center;
    justify-content: space-between;
}
.bottomBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
.bottomBar input{
    width:92%;
    margin-bottom:0;
    padding:5px;
    background-color:white;
    border-radius: 5px;
}
.middle{
    padding: 15px;
    height: calc(100% - 60px);
}
.middleContainer p{
    background-color: darkgrey;
    padding: 5px;
    max-width: max-content;
    border-radius: 0 10px 10px 10px;
}
.middleContainer.patient{
    display: flex;
    flex-direction: row-reverse;
}
.middleContainer.patient p{
    background-color: rgb(168, 254, 168);
    border-radius: 10px 0 10px 10px;
}

.Container{
    background-color: var(--lightbg);
    height: 90vh;
    display: flex;
    justify-content: center;
    margin: 70px;
    background-color: var(--formbg);
    border-radius: 15px;
}
.patient-details{
    width: 30%;
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: center;
    border-right: 1px solid;
    position: sticky;
}
.patient-details-more{
    width: 70%;
    overflow-y: scroll;
}
.patient-details-more ul{
    list-style: none;

}
.li-style{
    font-weight: 800;
}