
body{
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  radial-gradient(#282a43 0.5px, transparent 0.5px), radial-gradient(#282a43 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
}
    
#Info{
    background-color: white;
    font-weight: 600;
    color: black;
    padding: 1.725rem 0;
    display: flex ;
    column-gap: 2rem;
    justify-content: center;
    align-items: center;
}

.info-btn{
    background-color: rgba(50, 50, 245, 0.76); 
    color : white;
    cursor: default;
}

.left-btn{
    position: absolute;
    left : 10px;
    top : 10px;
}

.past-info > ol{
    background-color: white;
    margin: 2rem 30%;
    padding: 1rem 3rem;
    font-weight: 600;
}



.chatIcon img{
    width: 50px;
    position: fixed;
    top: 90%;
    left: 95%;
    cursor: pointer;
}
.chat{
    height: 55%;
    width: 20%;
    background-color: azure;
    position: fixed;
    top: 44%;
    left: 79%;
    display: flex;
    flex-direction: column;
}
.topBar{
    display: flex;
    background-color: rgb(137, 250, 250);
    height: 30px;
    align-items: center;
    justify-content: space-between;
}
.bottomBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
.bottomBar input{
    width:92%;
    margin-bottom:0;
    padding:5px;
    background-color:white;
    border-radius: 5px;
}
.middle{
    padding: 15px;
    height: calc(100% - 60px);
}