body{
    background-color: rgb(215, 245, 255);

}
.App {
    text-align: center;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15%;
}
.footer{
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 30px;
    width: 100%;
    background-color: aliceblue;
}