.App{
    width: 100%;
    text-align: center;
}

.img-side > img {
    border-radius: 3rem 6rem 9rem;
}

.Wrapper-page{
    background-color: Beige;
    width : 100%;
    min-height : 100vh;
}

.left-btn{
    position: absolute;
    left : 1em;
    top : 2em;
}

.Header{
    text-align: center;
    font-weight: 600;
}

.Main{
    min-height: 70vh;
}

.Side-menu{
    margin: 0.1em 0.5em;
    padding: 1em 0em;
    text-align: center;
    background-color: White;
    border-right: 1px solid lightgrey;
}

.Content{
    margin: 0.1em 0.5em;
    padding: 1.25em 1em;
    background-color: White;
    border-radius: 10px;
}